.padding-left{
    padding-left:1rem;
}
.margin-small{
    margin-top:1rem;
}
.margin-xs{
    margin-top:0.5rem;
}
.font-small{
    font-size:1.2rem;
}
.btn--red{
    background-color: $color-red;
}
.btn--green{
    background-color: $color-green;
}
.text--center{
    text-align:center;
}
.headline--large{
    font-size: 3rem;
}