$color-white: #fff;
$color-black: #000;
$color-green: #55c57a;
$color-red: #F60B0B;
$color-light-grey:#e5e5e5;
$default-font-size: 1.6rem;
$small-font-size:1.2rem;
$background-color1: rgb(255,138,5);
$background-color2: rgb(71,71,71);